@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@theme {
  --color-bittersweet: #f27b63;
  --color-mauve: #FEB5FF;
  --color-space_cadet: #202254;
  --color-majorelle: #5652E7;
  --color-midnight_green: #114C56;
  --color-robin_egg: #00CEC5;
  --color-breeze: #9EECE2;
  --color-fleece: #F0F0F1;
}

/* 
Color Pallete:
  Tailwind    -    Hex Code  -  Color
  fleece -------- '#F0F0F1', -- Light Grey
  bittersweet --- '#f27b63', -- Orange
  mauve --------- '#FEB5FF', -- Pink
  space_cadet: -- '#202254', -- Dark Blue
  majorelle ----- '#5652E7', -- Bright Purple
  midnight_green -'#114C56', -- Dark Teal
  robin_egg ----- '#00CEC5', -- Bright Teal
  breeze -------- '#9EECE2', -- Light Teal
*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #202254;
  background-color: #F0F0F1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #F0F0F1;
  border-bottom: solid 2px #5652E7;
}

.navbar a, .navbarbutton {
  float: left;
  color: #5652E7;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  color: #5652E7;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 0, .1);
}

.dropdown-content {
  position: absolute;
  background-color: #F0F0F1;
  border-right: solid 2px #5652E7;
  border-left: solid 2px #5652E7;
  border-bottom: solid 2px #5652E7;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, .1);
} 

.fa-caret-down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  text-align: center;
  /* border-top: 8px solid red; */
}

/* .dropdown-content {
  display: block;
} */