@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@theme {
  --color-bittersweet: #f27b63;
  --color-mauve: #FEB5FF;
  --color-space_cadet: #202254;
  --color-majorelle: #5652E7;
  --color-midnight_green: #114C56;
  --color-robin_egg: #00CEC5;
  --color-breeze: #9EECE2;
  --color-fleece: #F0F0F1;
}

/* 
Color Pallete:
  Tailwind    -    Hex Code  -  Color
  fleece -------- '#F0F0F1', -- Light Grey
  bittersweet --- '#f27b63', -- Orange
  mauve --------- '#FEB5FF', -- Pink
  space_cadet: -- '#202254', -- Dark Blue
  majorelle ----- '#5652E7', -- Bright Purple
  midnight_green -'#114C56', -- Dark Teal
  robin_egg ----- '#00CEC5', -- Bright Teal
  breeze -------- '#9EECE2', -- Light Teal
*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}